$magic-radio-size: 20px !default;
$magic-checkbox-size: 20px !default;
$magic-dot-size: 8px !default;
$magic-border-color: #fff !default;
$magic-main-color: #81BA5E !default;
$magic-main-bg-color: #ffffff !default;
$magic-disabled-color: lighten($magic-border-color, 14%) !default;
$magic-disabled-checked-color: lighten($magic-main-color, 30%) !default;
